# ========= AIRFLOW CONFIGURATION ==========

# Répertoire principal de Airflow (le répertoire courant)
export CURRENT_DIRECTORY="$(pwd)"
export AIRFLOW_HOME="${CURRENT_DIRECTORY}/airflow"

# Base de données SQLite locale (simple pour dev)
export AIRFLOW__DATABASE__SQL_ALCHEMY_CONN="sqlite:///${AIRFLOW_HOME}/airflow.db"

# Répertoire pour les DAGs
export AIRFLOW__CORE__DAGS_FOLDER="${CURRENT_DIRECTORY}/dags"

# Répertoire pour les logs
export AIRFLOW__CORE__BASE_LOG_FOLDER="${CURRENT_DIRECTORY}/logs"

# Répertoire pour les plugins
export AIRFLOW__CORE__PLUGINS_FOLDER="${CURRENT_DIRECTORY}/plugins"

# Empêche Airflow de charger des exemples
export AIRFLOW__CORE__LOAD_EXAMPLES=False

# ========= WEBSERVER ==========
export AIRFLOW__WEBSERVER__PORT=8080
export AIRFLOW__WEBSERVER__RBAC=True

# ========= VSCODE CONFIGURATION ==========

PYTHONPATH=${PYTHONPATH}:${AIRFLOW_HOME}/plugins:${AIRFLOW_HOME}
